@page "/Edit/{AporteId:int}"
@inject AporteService AporteService
@using Victor_Ferreiras_P1_AP1.Models
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Editar Aporte</PageTitle>
<EditForm Model="Aporte" OnValidSubmit="Modificar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-primary text-white m-2">
                <h3 class="card-title">Editar Aportes</h3>
            </div>
            <div class="card-body">
                @* AporteId *@
                <div class="mb-3">
                    <label class="form-label">AporteId</label>
                    <InputNumber class="form-control small-input" @bind-Value="Aporte.AporteId" readonly/>
                    <label class ="form-label">Fecha</label>
                    <InputDate class="form-control small-input" @bind-Value="Aporte.Fecha" readonly/>
                </div>

                @* Persona *@
                <div class="mb-3">
                    <label class="form-label">Persona</label>
                    <InputText class="form-control wide-input" @bind-Value="Aporte.Persona"/>
                    <ValidationMessage For="@(() => Aporte.Persona)"/>
                </div>

                @* Obvservacion *@
                <div class="mb-3">
                    <label class="form-label">Observacion</label>
                    <InputText class="form-control wide-input" @bind-Value="Aporte.Observacion"/>
                    <ValidationMessage For="@(() => Aporte.Observacion)"/>
                </div>
            </div>

            @* Monto *@
            <div class="mb-3">
                <label class="form-label">Monto</label>
                <InputNumber class="form-control wide-input" @bind-Value="Aporte.Monto"/>
                <ValidationMessage For="@(() => Aporte.Monto)"/>
            </div>

            @* Footer *@
            <div class="card-footer mt-2 text-center">
                <button type="submit" class="btn btn-outline-success">
                    <span class="bi bi-check-circle-fill"></span> Guardar
                </button>
                <a href="/" class="btn btn-outline-danger">
                    <span class="bi bi-arrow-bar-left"></span> Retroceder
                </a>
            </div>
        </div>
    </div>

    @* Notificaciones *@
    <label class="text-danger" hidden="@string.IsNullOrEmpty(Error)">@Error</label>
</EditForm>

@code {
    [Parameter]
    public int AporteId { get; set; }
    public Aporte Aporte { get; set; } = new Aporte();
    public string Error { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Aporte = await AporteService.Buscar(AporteId);
    }

    private async Task Modificar()
    {
        var creado = await AporteService.Guardar(Aporte);
        if (creado)
        {
            navigationManager.NavigateTo("/");
        }
        else
        {
            Error = "Error al guardar el Registro";
        }
    }
}